*{
	margin: 0;
	padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;

}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .mySlides img{
    height: 600px;
    margin-top: 50px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: floralwhite;
    font-size: 55px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Number text (1/3 etc) 
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }*/
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name:none;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
    background-color: #111;
    
  }
  .logo img{
  position: absolute;
margin-left: -750px;
margin-top: 10px;
}

.bar
{
    width: 1100px;
	height: 40px;
	color: black;
    margin: 30px auto;
    position: absolute;
    margin-left: 400px;
    
    
    /*margin-left: 850px;*/
    
    
}

.bar ul 
{
	float:right;
	list-style: none;
    display: block;  
}
.bar ul li 
{
	float: left;
	list-style: none;
	display: block;
    width: 110px;
    /*background-color: rgba(148, 148, 148,0.3);*/
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    margin-left: 4px;
    text-decoration: none;
    color: inherit;
}
ul li a {
    display: block;
    cursor:context-menu;
    text-decoration: none;
}
ul li a:hover
{
    display: block;
    background-color: floralwhite;
    color: black;
}
.bar ul li ul li
{
    margin-bottom: 0;
    display: none;
}
.bar ul li:hover ul li 
{
    display: block;
    
}
@media (max-width:25px) {
    .bar ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
      max-width: fit-content;
    }
    }
    @media (max-width:500px) {
        .name{
          display: flex;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        }
        .specialities{
          text-align:center ;
          padding-top: 80px;
          height: auto;
          bottom: 0;
          right: 0;
          left:0;
          margin-bottom: 40px ;

        }
        .specialities h1{
          font-size: 45px;
          font-family: 'Poppins', sans-serif;
        }
        .specialities p{
          padding: 30px;
          font-family: 'Poppins', sans-serif;
          font-size: 25px;
        }
.works{
  font-family: 'Poppins', sans-serif;
  padding-top: 40px;
  padding-bottom: 400px; 
  margin-bottom: 100px;
  
  

}
.works h1{
  font-size: 45px;
  text-align: center;
  padding-bottom: 80px;
  
}
/*.photo img{
    margin-left: 105px;
    
    border: 1px solid #ddd;
  border-radius: 4px;  
  padding: 5px; 
  
    
}
.photo h2{
    
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.photo img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
.photo{
    width: 50%;
}
.video img{
    margin-left: 105px;
    border: 5px solid #555;
    
}
.video h2{
    
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.video{
    position:relative;
    width: 50%;
    float: right;
}
*/
.photo{
    width: 50%;
    float: left;
}
.photo img{
    margin-left: 130px;
    
    border: 2px solid #111;
  border-radius: 4px;  
  padding: 2px; 
  
    
}
.video{
    width: 50%;
    float:right;
}
.video img{
    
    margin-left: 90px;
    border: 2px solid black;
  border-radius: 4px;  
  padding: 2px; 
  
    
}
.works h3{
    
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.works img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  .about{
    text-align:center ;
    padding-top: 80px;
    height: auto;
    bottom: 0;
    right: 0;
    left:0;
    margin-bottom: 40px ;

  }
  .about h1{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
  }
  .about p{
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
  }
  footer{
    position: relative;
    bottom: 0;
    
    right:0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    width:100%;
    float:right;
    
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: black;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
 color:#44bae8;
 font-size: 16px;
 text-decoration: none;
}
.footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}
.footer-menu{
  float: right;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;

}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: white;
}
@media (max-width:500px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  }
  a {
    text-decoration: none; /* remove underline */
    color: inherit; /* remove blue */
  }